body 
{
    background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.2)), url(../images/bg2.png);
    background-position: center;
    background-size: cover  ;
    background-repeat: no-repeat;
}

#chat .card
{
    margin-top: 20px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    height: 450px;
}

#chat .heading
{
    background: var(--primaryColor);
    color: #fff;
    font-family: var(--font3);
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#chat .dropdown button
{
    color: #fff !important;
    letter-spacing: 1px;
    word-spacing: 2px;
    background: transparent !important;
    box-shadow: none !important;
    font-family: var(--font1);
    font-size: 18px;
}

#chat .dropdown-menu .list-group-item
{
    border: none !important;
}

#chat .heading span
{
    font-family: var(--font1);
}

#chat .msg-her
{
    width: 70%;
    float: left;
    background: #efefef;
    margin: 10px 0;
    padding: 0 20px;
    padding-top: 10px;
    border-radius: 20px;
}

#chat .msg-her h5
{
    font-family: var(--font3);
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 14px;
}

#chat .msg-her p, #chat .msg-me p
{
    font-family: var(--font1);
    font-size: 19px;
}

#chat .msg-her ul, #chat .msg-me ul
{
    display: flex;
    list-style-type: none;
}

#chat .msg-her li
{
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--font1);
    font-size: 16px;

}

#chat .msg-me
{
    width: 70%;
    float: right;
    background: var(--primaryColor);
    margin: 10px 0;
    padding: 0 20px;
    padding-top: 10px;
    color: #fff;
    border-radius: 20px;
}

#chat .msg-me li
{
    color: #fff;
    font-family: var(--font1);
    font-size: 16px;
}

#msg-form
{
    margin-top: 15px;
}

#msg-form .card
{
    border-radius: 0;
    border: none;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.1);
}

#msg-form .card textarea
{
    font-family: var(--font3);
    font-size: 18px;
    box-shadow: none !important;
    margin-bottom: 20px;
}

#msg-form .card button
{
    background: var(--primaryColor);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 1%;
    bottom: 0;
    margin-bottom: -20px;
}